<div class="d-flex">
  <button type="button" (click)="onDeployProductionsSection()" class="btn btn-primary rounded-circle mr-2 deploySectionBtn">
      <i class="fas fa-chevron-right" *ngIf="!productionsSectionDisplay"></i>
      <i class="fas fa-chevron-down" *ngIf="productionsSectionDisplay"></i>
  </button>
  <h2 class="font-weight-light mb-0">
    <i class="fas fa-grip-horizontal"></i> Productions
  </h2>
  <button type="button" data-toggle="modal" data-target="#addProductionModal" class="btn btn-info ml-auto"><i class="fas fa-plus"></i> Ajouter une production</button>
</div>
<hr class="bg-dark mt-1 mb-0">

<div class="row py-4" *ngIf="productionsSectionDisplay">
  <div class="col-sm-12 col-lg-3">
    <app-admin-categories></app-admin-categories>
  </div>
  <div class="col-sm-12 col-lg-9">
    <div class="shadow p-3 my-3 rounded bg-light h-100">
      <h4 class="font-weight-normal"><i class="fas fa-grip-horizontal"></i> Productions</h4>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" class="text-center">Miniature</th>
              <th scope="col">Titre</th>
              <th scope="col">Catégorie</th>
              <th scope="col" class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody cdkDropList (cdkDropListDropped)="onDropProduction($event)" [cdkDropListData]="productions">
            <tr *ngFor="let production of productions; let i = index" cdkDrag class="bg-light">
              <th class="align-middle">{{ i }}</th>
              <td class="product-img rounded align-middle">
                <div *ngFor="let photo of production.photos; let first = first;">
                  <img *ngIf="first" class="w-100" [src]="photo" alt="Prodution photo">
                </div>
              </td>
              <td class="align-middle"><a *ngIf="production.url !== ''" [href]="production.url" target="_blank">{{ production.title }}</a><span *ngIf="production.url == ''">{{ production.title }}</span></td>
              <td class="align-middle">{{ production.category }}</td>
              <td class="d-flex justify-content-around align-items-center">
                <button class="btn btn-outline-primary" (click)="onEditProduction(i)"><i class="far fa-edit"></i></button>
                <button class="btn btn-outline-danger" (click)="onDeleteProduction(production)"><i class="far fa-trash-alt"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<div class="modal fade" id="addProductionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-info" id="exampleModalCenterTitle">Ajouter une production</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="adminProcutionForm" (ngSubmit)="onSaveProduction()">

          <div class="form-group">
            <input type="text" placeholder="Titre" formControlName="title" class="form-control">
          </div>

          <div class="form-group">
            <input type="url" placeholder="URL" formControlName="url" class="form-control">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="categories">Catégorie</label>
            </div>
            <select class="custom-select" formControlName="category" id="categories">
              <option *ngFor="let category of categories">{{category.title}}</option>
            </select>
          </div>

          <div class="input-group mb-0">
            <div class="input-group-prepend">
              <label class="input-group-text" for="technolgies">Technos</label>
            </div>
            <select class="custom-select" id="technolgies" formControlName="technologies" (change)="onAddTechnology()">
              <option *ngFor="let skill of allSkills">{{skill.title}}</option>
            </select>
          </div>

          <div class="row pt-2 pb-3">
            <div class="col-6" *ngFor="let techno of technologiesAdded; let i = index">
              <div class="bg-light shadow py-2 px-3 my-2 d-flex">
                <p class="fs-15 my-auto">{{ techno }}</p>
                <i class="fas fa-times fs-15 text-danger ml-auto my-auto deleteTechnoAdded" (click)="onRemoveAddedTechno(i)"></i>
              </div>
            </div>
          </div>

          <div class="form-row mb-3">
            <div class="input-group col-10">
              <div class="custom-file">
                <input type="file" class="custom-file-input" (change)="detectFiles($event)" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Ajouer une image</label>
              </div>
            </div>
            <div class="col-2 d-flex">
              <div class="spinner-border text-info m-auto" role="status" *ngIf="fileIsUploading">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>

          <div class="row pt-2 pb-3"  cdkDropList (cdkDropListDropped)="onDropPhoto($event)" [cdkDropListData]="photosAdded">
            <div class="col-4" *ngFor="let photo of photosAdded; let i = index" cdkDrag>
              <div class="bg-light shadow py-2 px-3 my-2 position-relative">
                <div>
                  <img [src]="photo" class="w-100" alt="">
                </div>
                <i class="fas fa-times fs-15 text-danger ml-auto my-auto deletePhotoAdded" (click)="onRemoveAddedPhoto(i)"></i>
              </div>
            </div>
          </div>

          <div class="form-group">
            <textarea placeholder="Description" id="productionDescription" formControlName="description" rows="4" class="form-control"></textarea>
          </div>

          <div class="row">
            <div class="col-6">
              <button type="button" class="btn btn-outline-secondary w-100" data-dismiss="modal">Annuler</button>
            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-outline-info w-100">Enregistrer</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>