.hoverImageProduction {
  top: 0; bottom: 0; left: 0; right: 0;
  display: none;
  transition: 300ms !important;
}

.production:hover .hoverImageProduction {
  display: flex;
  background-color: rgba(255, 255, 255, 0.85)
}

.productionDetails {
  font-size: 20px;
}

.productionDetails:hover {
  cursor: pointer;
  text-decoration: underline !important;
}
