.linkedInLink {
    color: #007bb7;
}

.facebookLink {
    color: #3B5998;
}

.instagramLink {
    color: #8a3ab9;
}

.twitterLink {
    color: #33ccff
}

.githubLink {
    color: #24292E;
}

.youtubeLink {
    color: #BD3518;
}