textarea {
    resize: none;
}

.image-upload>input {
    display: none;
}

.file-input-calc {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    transition: 500ms;
}

.image-upload label:hover .file-input-calc {
    display: flex;
    cursor: pointer;
}

.file-input-calc p {
    margin: auto;
    font-weight: bold;
}