.hoverTrainingImage {
  left: 0; right: 0; top: 0; bottom: 0;
  display: none;
  transition: 300ms !important;
}

.trainingImageLabel:hover .hoverTrainingImage{
  font-size: 25px;
  display: flex !important;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
}

.isLoading {
  left: 0; right: 0; top: 0; bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
}
