/* You can add global styles to this file, and also import other style files */



html, body {
    height: 100%;
}

.fs-10 {
    font-size: 10px;
}

.fs-15 {
    font-size: 15px;
}

.fs-20 {
    font-size: 20px;
}

.fs-25 {
    font-size: 25px;
}

.fs-30 {
    font-size: 30px;
}

.fs-35 {
    font-size: 35px;
}

.fs-40 {
    font-size: 40px;
}

.fs-45 {
    font-size: 45px;
}

.fs-50 {
    font-size: 50px;
}

/* blue : #91B0D5 145, 176, 213*/
/* lightblue : #BBD6E5 */

.text-blue {
    color: #91B0D5 !important;
}

.text-lightblue {
    color: #BBD6E5 !important;
}

.bg-blue {
    /* background-color: #91B0D5 !important; */
    background-color: #0F7180 !important;
}

.bg-lightblue {
    background-color: #BBD6E5 !important;
}

.deploySectionBtn {
	width: 40px;
    height: 40px;
}

.logo {
  top: 0;
  bottom: 0;
  left: 32px;
  width: 80px;
  display: flex;
  z-index: 999;
}

.logo a {
  margin: auto;
  display: flex;
}

.logo a:hover {
  cursor: pointer;
}

.logo a img {
  margin: auto;
}

@media (max-width: 575.98px) {
	.homeHeader .logoHeader {
		width: 50%;
	}

	.homeHeader h1 {
		font-size: 30px;
  }

  .logo {
    display: none;
  }

}

@media (max-width: 767.98px) {
	.homeHeader .logoHeader {
		width: 50%;
	}

	.homeHeader h1 {
		font-size: 30px;
  }

  .logo {
    display: none;
  }

}

@media (max-width: 575.98px) and (orientation: landscape){
	.homeHeader .logoHeader {
		width: 25%;
	}

	.homeHeader h1 {
		font-size: 30px;
  }

  .logo {
    display: none;
  }

}

@media (max-width: 767.98px) and (orientation: landscape){
	.homeHeader .logoHeader {
		width: 25%;
	}

	.homeHeader h1 {
		font-size: 30px;
  }

  .logo {
    display: none;
  }

}

@media (max-width: 991.98px) and (orientation: landscape) {
	.homeHeader .logoHeader {
		width: 25%;
	}

	.homeHeader h1 {
		font-size: 30px;
  }

  .logo {
    display: none;
  }

}

@media (max-width: 992px) {
	.navbar {
		background-color: #343A40 !important;
  }

  .logo {
    display: none;
  }

}


/* ICONS */

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

a.icoLinkedin:hover {
  background-color: #0077B5;
}

.social-network a.icoRss:hover {
  background-color: #F56505;
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
  background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
  background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoDiscord:hover {
  background-color: #7289da;
}

.social-network a.icoInstagram:hover {
  background-color: #8a3ab9;
}

.social-network a.icoTelegram:hover {
  background-color: #0088cc;
}

.social-network a.icoGitHub:hover {
  background-color: #24292E;
}

.social-network a.icoYoutube:hover {
  background-color: #CC0000;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoDiscord:hover i,
.social-network a.icoTelegram:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoGitHub:hover i,
.social-network a.icoYoutube:hover i {
  color: #fff !important;
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.social-circle li i {
  margin: 0;
  line-height: 40px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #000;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a.icoFacebook i {
  color: #3B5998;
}
.social-network a.icoLinkedin i {
  color: #007bb7;
}

.social-network a.icoInstagram i {
  color: #8a3ab9;
}

.social-network a.icoGitHub i {
  color: #24292E;
}

.social-network a.icoTwitter i {
  color: #33ccff;
}

.social-network a.icoYoutube i {
  color: #CC0000;
}
