<header class="shadow">
  <app-header></app-header>
	<div class="container h-75 homeHeader d-flex">
		<div class="homeHeaderSection m-auto pt-5">
		  <div class="logoHeader pt-5 mx-auto">
			  <img src="../../assets/logo2.png" class="w-100" alt="WeBerger Logo">
		  </div>
		  <h1 class="text-center fs-45 font-weight-normal text-light">Créateur de sites et applications sur-mesure</h1>
	  </div>
	</div>


	<div class="blur"></div>
		
</header>

<section class="pb-5 bg-light" id="ownerSection">
    <div class="container py-5">
      <h2 class="display-4 text-info my-5 text-center">Bryan BERGER</h2>
      <div class="row pb-5">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="photo m-auto">
            <img src="../../assets/bryan.jpg" class="w-100 rounded shadow" alt="Bryan BERGER">
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8">
          <div class="p-4 bg-light rounded shadow">
            <h3 class="text-info font-weight-normal">Développeur Web & Mobile</h3>
            <p>Je suis Bryan BERGER, passionné d'informatique et de programmation, je crée des sites et applications web sur-mesure et en fonction de vos besoins.</p>
            <p class="text-info font-weight-bold"><i class="far fa-envelope"></i> contact@weberger.net</p>
                <p class="text-info font-weight-bold"><i class="fas fa-phone"></i> +33 6 59 18 22 25</p>
                <p><i class="fas fa-map-marker-alt"></i> 6 rue des Joncs, 77165 St Soupplets</p>
                <ul class="social-network social-circle">
                  <li><a href="#" class="icoLinkedin" target="_blank" title="Linkedin"><i class="fab fa-linkedin fs-25"></i></a></li>
                  <li><a href="#" class="icoFacebook" target="_blank" title="Facebook"><i class="fab fa-facebook-square fs-25"></i></a></li>
                  <li><a href="#" class="icoInstagram" target="_blank" title="Instagram"><i class="fab fa-instagram fs-25"></i></a></li>
                  <li><a href="#" class="icoGitHub" target="_blank" title="GitHub"><i class="fab fa-github fs-25"></i></a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="shadow py-5" id="servicesSection">
		  <div class="container py-5">
		    <h2 class="display-4 text-light text-center mb-5">Services</h2>
		    <div class="row my-5">
		      <div class="col-sm-12 col-md-6 col-lg-4 mx-auto my-2">
		        <div class="bg-light shadow p-4 rounded h-100">
		          <h3 class="font-weight-light text-center text-info">Responsive design</h3>
		          <div class="servicePhoto w-50 mx-auto">
		            <img src="../../assets/responsive-design.png" class="w-100" alt="Responsive Design">
		          </div>
		          <p class="lead text-center">Sites et applications multi-plateformes et adaptatives</p>
		        </div>
		      </div>
		      <div class="col-sm-12 col-md-6 col-lg-4 mx-auto my-2">
		        <div class="bg-light shadow p-4 rounded h-100">
		          <h3 class="font-weight-light text-center text-info">Projets</h3>
		          <div class="servicePhoto w-50 mx-auto">
		            <img src="../../assets/Multiple_WIndows-512.png" class="w-100" alt="Projets">
		          </div>
		          <p class="lead text-center">Site vitrine, site marchand, application web/mobile</p>
		        </div>
		      </div>
		      <div class="col-sm-12 col-md-6 col-lg-4 mx-auto my-2">
		        <div class="bg-light shadow p-4 rounded h-100">
		          <h3 class="font-weight-light text-center text-info">Formation/Consulting</h3>
		          <div class="servicePhoto w-50 mx-auto">
		            <img src="../../assets/training_512.png" class="w-100" alt="Formation Consulting">
		          </div>
		          <p class="lead text-center">Formations, Coaching, Consulting en développement & référencement Web</p>
		        </div>
		      </div>
		    </div>
		  </div>
		</section>

<section class="shadow bg-light" id="skillsSection">
  <div class="container py-5">
    <h2 class="display-4 text-center text-info mb-5">Compétences</h2>
    <div class="row mb-5">

      <div class="col-sm-12 col-md-6 my-3">
        <div class="shadow bg-white rounded p-4 h-100">
          <h3 class="font-weight-light text-center text-info mb-4">Frameworks CSS</h3>
          <div class="row m5-4">
            <div class="col-sm-6 col-md-6 col-lg-4 my-2">
              <div class="skillPhoto mx-auto w-50">
                <img src="../../assets/skills/bootstrap_480p.png" class="w-100" alt="Bootstrap">
              </div>
              <p class="lead text-center">Bootstrap 4</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 my-2">
              <div class="skillPhoto mx-auto w-50">
                <img src="../../assets/skills/materialize_480p.png" class="w-100" alt="Materialize">
              </div>
              <p class="lead text-center">Materialize</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 my-3">
        <div class="shadow bg-white rounded p-4 h-100">
          <h3 class="font-weight-light text-center text-info mb-4">Frameworks JavaScript</h3>
          <div class="row m5-4">
            <div class="col-sm-6 col-md-6 col-lg-4 my-2">
              <div class="skillPhoto mx-auto w-50">
                <img src="../../assets/skills/angular_480p.png" class="w-100" alt="Angular">
              </div>
              <p class="lead text-center">Angular</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 my-2">
              <div class="skillPhoto mx-auto w-50">
                <img src="../../assets/skills/angular-material_480p.png" class="w-100" alt="Angular Material">
              </div>
              <p class="lead text-center">Angular Material</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 my-2">
              <div class="skillPhoto mx-auto w-50">
                <img src="../../assets/skills/ionic_480p.png" class="w-100" alt="Ionic">
              </div>
              <p class="lead text-center">Ionic</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 my-3">
        <div class="shadow bg-white rounded p-4 h-100">
          <h3 class="font-weight-light text-center text-info mb-4">Technologies JavaScript</h3>
          <div class="row m5-4">
            <div class="col-sm-6 col-md-6 col-lg-4 my-2">
              <div class="skillPhoto mx-auto w-50">
                <img src="../../assets/skills/nodejs_480p.png" class="w-100" alt="NodeJS">
              </div>
              <p class="lead text-center">NodeJS</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 my-2">
              <div class="skillPhoto mx-auto w-50">
                <img src="../../assets/skills/expressjs_480p.png" class="w-100" alt="Express">
              </div>
              <p class="lead text-center">Express</p>
            </div>
          </div>
        </div>
      </div>

       <div class="col-sm-12 col-md-6 my-3">
        <div class="shadow bg-white rounded p-4 h-100">
          <h3 class="font-weight-light text-center text-info mb-4">Bases de données</h3>
          <div class="row m5-4">
            <div class="col-sm-6 col-md-6 col-lg-4 my-2">
              <div class="skillPhoto mx-auto w-50">
                <img src="../../assets/skills/firebase_480p.png" class="w-100" alt="Firebase">
              </div>
              <p class="lead text-center">Firebase</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 my-2">
              <div class="skillPhoto mx-auto w-50">
                <img src="../../assets/skills/mongo_480p.jpg" class="w-100" alt="MongoDB">
              </div>
              <p class="lead text-center">MongoDB</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 my-2">
              <div class="skillPhoto mx-auto w-50">
                <img src="../../assets/skills/rethinkdb_480p.png" class="w-100" alt="ReThinkDB">
              </div>
              <p class="lead text-center">ReThinkDB</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="py-5" id="productionsSection">
  <div class="container py-5">
    <h2 class="display-4 text-center text-info mb-5">Productions</h2>
    <div class="row">

      <div class="col-sm-12 col-md-6 my-3">
        <div class="production rounded">
          <img src="../../assets/productions/p1.jpg" class="w-100 rounded shadow" alt="Production 1">
        </div>
      </div>

      <div class="col-sm-12 col-md-6 my-3">
        <div class="production rounded">
          <img src="../../assets/productions/p2.png" class="w-100 rounded shadow" alt="Production 2">
        </div>
      </div>

      <div class="col-sm-12 col-md-6 my-3">
        <div class="production rounded">
          <img src="../../assets/productions/p3.png" class="w-100 rounded shadow" alt="Production 3">
        </div>
      </div>

    </div>
  </div>
</section>

<footer class="shadow py-5 bg-blue">
  <div class="container pt-5">
      <h2 class="display-4 text-light mb-0">WeBerger</h2>
      <p class="lead text-light fs-25">Développeur de sites et applications web sur-mesure</p>
      <!-- <hr class="bg-light"> -->
      <div class="row">

        <div class="col-sm-12 shadow bg-light p-5 rounded">
          <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-3 my-3">
              <h3 class="font-weight-normal text-info">Navigation</h3>
              <nav class="nav flex-column">
                <a class="nav-link text-dark" href="#">Accueil</a>
                <a class="nav-link text-dark" href="#">Blog</a>
                <a class="nav-link text-dark" href="#">Vidéos</a>
                <a class="nav-link text-dark" href="#">Formations</a>
                <a class="nav-link text-dark" href="#">Forum</a>
              </nav>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-5 my-3">
              <h3 class="font-weight-normal text-info">Contactez-moi !</h3>
              <p class="lead">Je vous ferai une offre sur mesures adaptée à vos besoins !</p>
              <p><i class="far fa-envelope"></i> contact@weberger.net</p>
              <p><i class="fas fa-phone"></i> +33 6 59 18 22 25</p>
              <p><i class="fas fa-map-marker-alt"></i> 6 rue des Joncs, 77165 St Soupplets</p>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-4 my-3">
              <h3 class="font-weight-normal text-info">Restez informés !</h3>
              <ul class="social-network social-circle">
                <li><a href="#" class="icoLinkedin" target="_blank" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#" class="icoFacebook" target="_blank" title="Facebook"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" class="icoInstagram" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" class="icoGitHub" target="_blank" title="GitHub"><i class="fab fa-github"></i></a></li>
              </ul>
              <br>
              <a href="http://eepurl.com/gjDLPv" class="btn btn-outline-dark mt-2" target="_blank"><i class="far fa-envelope"></i> S'inscrire à la NewsLetter</a>
            </div>

          </div>
        </div>

      </div>

      <div class="text-center pt-5">
        <small class="text-light">© WeBerger 2019 - Mentions légales</small>
      </div>
  </div>
</footer>