<header class="shadow">
  <app-header></app-header>
	<div class="container h-75 homeHeader d-flex">
		<div class="homeHeaderSection m-auto pt-5">
		  <div class="logoHeader pt-5 mx-auto">
			  <img src="../../assets/logo2.png" class="w-100" alt="WeBerger Logo">
		  </div>
		  <h1 class="text-center fs-40 font-weight-normal text-light">Créateur de sites et applications sur-mesure</h1>
	  </div>
	</div>
	<div class="blur"></div>
</header>
  <app-home-owner></app-home-owner>
  <app-home-services></app-home-services>
  <app-home-skills></app-home-skills>
<footer class="shadow py-5 bg-blue">
  <app-home-footer></app-home-footer>
</footer>
