/* blue : #91B0D5 145, 176, 213*/
/* lightblue : #BBD6E5 */
/* light : #F8F9FA */

.homeHeader {
	position: relative;
	z-index: 98 !important;
}

.homeHeader .logoHeader {
	width: 25%;
}

header {
    background-image: url('../../assets/bg8.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 75%;
    position: relative;
}

.blur {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 97 !important;
	background: linear-gradient(#000, #17A2B8);
	opacity: 0.7;
}

footer {
    position: relative;
    z-index: 100;
}
