/* blue : #91B0D5 145, 176, 213*/
/* lightblue : #BBD6E5 */
/* light : #F8F9FA */

.homeHeader {
	position: relative;
	z-index: 98 !important;
}

.homeHeader .logoHeader {
	width: 25%;
}

header {
    background-image: url('../../assets/bg8.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 75%;
    position: relative;
}

.blur {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 97 !important;
	/*background-color: rgba(187, 214, 229, 0.7);*/
	/*background: linear-gradient(#fff, #17A2B8);*/
	/*background: linear-gradient(#17A2B8, #fff);*/
	background: linear-gradient(#000, #17A2B8);
	opacity: 0.7;
}

#servicesSection {
	position: relative;
	z-index: 99;
	background-color: #0F7180;
}

#skillsSection {
    position: relative;
    z-index: 97;
}

#productionsSection {
    position: relative;
    z-index: 96;
}

footer {
    position: relative;
    z-index: 100;
}

/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  a.icoLinkedin:hover {
    background-color: #0077B5;
  }
  
  .social-network a.icoRss:hover {
    background-color: #F56505;
  }
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoTwitter:hover {
    background-color: #33ccff;
  }
  
  .social-network a.icoGoogle:hover {
    background-color: #BD3518;
  }
  
  .social-network a.icoVimeo:hover {
    background-color: #0590B8;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoDiscord:hover {
    background-color: #7289da;
  }

  .social-network a.icoInstagram:hover {
    background-color: #8a3ab9;
  }
  
  .social-network a.icoTelegram:hover {
    background-color: #0088cc;
  }

  .social-network a.icoGitHub:hover {
    background-color: #24292E;
  }
  
  .social-network a.icoRss:hover i,
  .social-network a.icoFacebook:hover i,
  .social-network a.icoTwitter:hover i,
  .social-network a.icoGoogle:hover i,
  .social-network a.icoVimeo:hover i,
  .social-network a.icoLinkedin:hover i,
  .social-network a.icoDiscord:hover i,
  .social-network a.icoTelegram:hover i,
  .social-network a.icoInstagram:hover i,
  .social-network a.icoGitHub:hover i {
    color: #fff !important;
  }
  
  a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #000;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }

  .social-network a.icoFacebook i {
    color: #3B5998;
  }
  .social-network a.icoLinkedin i {
    color: #007bb7;
  }

  .social-network a.icoInstagram i {
    color: #8a3ab9;
  }

  .social-network a.icoGitHub i {
    color: #24292E;
  }